{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Inventoreal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'login.css' %}">

    <div class="container">
        <nav class="isi">
            <div class="brand">
                <div class="firstName">Invento</div>
                <div class="secName">real</div>
            </div>
        </nav>
    </div>

    <div class="login-container">
        <div class="login">
            <h1>Login</h1>

            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Username" class="form-control">
                </div>
                        
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Password" class="form-control">
                </div>

                <button class="btn login_btn" type="submit">Login</button>
            </form>

            {% if messages %}
                <ul class="message-list">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}     

            <p class="register-link">Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a></p>
        </div>
    </div>

{% endblock content %}
