{% extends 'base.html' %}

{% block content %}
<h1>Inventoreal Page</h1>

<h5>Name: </h5>
<p>{{ creator }}<p>
<h5>Class: </h5>
<p>{{ pbpclass }}<p>

<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in item %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.amount}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>
{% endblock content %}
