{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
{% endblock meta %}

{% block content %}

<div class="container">
    <nav class="isi">
        <div class="brand">
            <div class="firstName">Invento</div>
            <div class="secName">real</div>
        </div>
    </nav>
</div>

<div class="login-container">
    <div class="login">
        <h1>Register</h1>

        <form method="POST">
            {% csrf_token %}
            <!-- Looping melalui setiap field dalam form -->
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <td><input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-control"></td>

                </div>
                <!-- Menampilkan pesan kesalahan untuk field ini jika ada -->
                {% if field.errors %}
                    <ul class="message-list">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            <button type="submit">Register</button>
        </form>

        {% if messages %}
            <ul class="message-list">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}  
        <p class="register-link">Already have an account? <a href="{% url 'main:login' %}">Login</a></p>   
    </div>
</div>

{% endblock content %}
